@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

/* * {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
} */

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

header .logo {
  color: var(--black);
  font-size: 3rem;
  font-weight: bolder;
  text-decoration: none;
}

header .logo i {
  color: var(--green);
}

h1 {
  padding-top: 6rem;
  text-align: center;
  color: var(--black);
  font-size: 3rem;
}

.tbl_tambah {
  margin-left: 48rem;
}

.tbl_tambah .tambah {
  text-decoration: none;
  font-size: 1.5rem;
  color: #192a56;
}

.tabel {
  margin: 0 auto;
  background-color: #f7f7f7;
}

.tabel .teks {
  font-size: 2rem;
}

.tabel .isi {
  font-size: 1.5rem;
}

.tbl-hijau {
  color: var(--green);
}

.tbl-merah {
  color: rgb(248, 35, 35);
}